lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz


.DS_Store

pids
logs
results

npm-debug.log
node_modules

# IntelliJ 
.idea/workspace.xml
.idea/tasks.xml
/.idea/misc.xml

coverage

/config/runtime.json
