extends layout

block content
   .container
      .row.col-md-10.col-md-offset-1
        h1 Import Cards
        p.lead You can import cards from a resource file. Click the file to import cards from it.

      if files.length <= 0
        .row.col-md-10.col-md-offset-1
          .col-lg-4.alert.alert-info No card-files saved yet.
      else
        each file in files
          .row.col-md-10.col-md-offset-1
            .padding-vertical-10px
              a(href='/cards/import/#{file}')
                button.btn.btn-default.col-lg-4 Load cards from '#{file}'