extends layout

block content
  .row.col-md-10.col-md-offset-1
    h1 Create Card

  .row.col-md-10.col-md-offset-1    
    form.prevent-enter-submit(action='/cards/new', method='POST')
      .form-group
        label(for='question') Question
        input.form-control(type='text', id='question', name='question')

      .form-group
        label(for='year') Year
        input.form-control(type='text', id='year', name='year')

      .form-group
        label Roll
        each category in categories
          .radio
            label(for='category-#{category}')
              input(type='radio', name='category', id='category-#{category}', value=category)
              | #{category}

      button.btn.btn-primary(type='submit') Create Card
