extends layout

block content
  .container
    .row
      .col-md-10.col-md-offset-1
        h1 Create Category

    .row
      .col-md-10.col-md-offset-1
        form.prevent-enter-submit(action='/category/new', method='POST')
          .form-group
            label.sr-only(for='year') Category
            .input-group.col-md-4
              .input-group-addon Category
              input.form-control(type='text', id='category', name='category')

          button.btn.btn-success.col-md-4(type='submit') Create Category