doctype html
html
  head
    title #{page_title ? page_title + '| ' : ''} Test of Time
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/testoftime.css')
    block stylesheets
  body
    if locals.user
      nav.navbar.navbar-default.navbar-static-top(role='navigation')
        .container
          .navbar-header
            a.navbar-brand(href='/') Test of Time Admin
          ul.nav.navbar-nav
            li
              a(href='/cards') Manage Cards
            li
              a(href='/cards/new') Create Card
            li
              a(href='/categories') Manage Categories
            li
              a(href='/category/new') Create Category
            li
              a(href='/users') Manage users


          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.glyphicon.glyphicon-user
                |  #{user.name} 
                b.caret
              ul.dropdown-menu
                li
                  a(href='/users/#{user._id}') Account
                li.divider
                li
                  a(href='/logout') Log out!

    .container
      block content


    script(src='https://code.jquery.com/jquery-2.0.3.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    block scripts
    script(src='/js/admin.js')
