doctype html
html
  head
    title #{page_title ? page_title + '| ' : ''} Test of Time
    link(rel='stylesheet', href='/css/style.css')
    block stylesheets
  body
    if locals.user
      nav.navbar.navbar-default.navbar-static-top(role='navigation')
        .container
          .navbar-header
            a.navbar-brand(href='/guides') Resguide Admin
          ul.nav.navbar-nav
            li
              a(href='/guides') Hantera mobila guider
            li
              a(href='/guides/new') Skapa guide
            if user.role == 'admin' || user.role == 'editor'
              li
                a(href='/users') Hantera användare

          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.glyphicon.glyphicon-user
                |  #{format_role(user.role)}: #{user.name} 
                b.caret
              ul.dropdown-menu
                li
                  a(href='/users/#{user._id}') Konto
                li.divider
                li
                  a(href='/logout') Logga ut

    .container
      block content

    script(src='https://code.jquery.com/jquery-2.0.3.min.js')
    script(src='https://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js')
    block scripts
    script(src='/js/admin.js')
