extends layout

block content
    link(rel='stylesheet', href='/css/signinform.css')
    .background-tot-signin
      #login.container
        .row-fluid
          .span12
            .login.well.well-small
              .center
                img(src='http://placehold.it/250x100&text=Logo', alt='logo')
              form.login-form(action='/login', method='POST', accept-charset='utf-8')
                
                .input-group
                  span.input-group-addon
                    i.glyphicon.glyphicon-user
                  input.form-control(type='text', placeholder='Email', required='required', id='email', name='email', maxlength='255')
                
                .input-group
                  span.input-group-addon
                    i.glyphicon.glyphicon-lock
                  input.form-control(type='password', placeholder='Password', required='required', id='password', name='password')

                .control-group
                  input.btn.btn-primary.btn-large.btn-block(type='submit', value='Sign in')
