extends layout

block content
  .container
    .row
      .col-md-5.col-md-offset-1
        .panel.panel-default
          .panel-heading
            h3.panel-title Import/Export from/to resource file
          .panel-body
            p The repository comes with resource files of cards and categories that you can initially populate the database with. You can pre-load cards and categories from these server-local resource files if you want. To do so, use the buttons below. If there is already a card with the same ID in the database that card will not be loaded from file.

            a.userlink(href='/cards/export') 
              button.btn-block(type="button" class="btn btn-success") Export/Import cards from resource file.

      .col-md-5
        .panel.panel-default
          .panel-heading
            h3.panel-title Account creation tokens
          .panel-body
            p List of current account tokens. Tokens are necessary to create a new user. Create one and share it with whomever is attempting to sign up. Once it's been used it will be removed. Tokens are valid for 1 hour.
            a.userlink(href='/setup/usertoken')
              button.btn-block(type="button" class="btn btn-success") Create new user token.

            if tokens.length > 0
              each token in tokens
                .padding-top-10px
                  .well.well-white.token-well-margin
                    p.token-text 
                      strong #{token.token}
                        a.pull-right.totblacklink(href='/setup/deletetoken/#{token._id}')
                          i(data-toggle='tooltip', title='Delete token', data-placement='bottom').fa.fa-remove
            else
              .padding-vertical-10px
                .alert.alert-info(role="alert") No available user creation tokens. Why not create one?