#login {
  padding-top: 50px;	
}

#login img{
  margin: 10px 0;
}

#login .center {
  text-align: center;
}

#login .login {
  max-width: 300px;
  margin: 10px auto;
}

#login .login-form {
  padding: 0px 25px;
}

.login-alert {
	margin-left: 25px;
	margin-right: 25px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 7px;
	padding-bottom: 0px;	
}

.login-well {
	margin: 0px;
}

